h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  bottom: 0;
  list-style: none;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sicret {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 950px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 2000px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    height: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}
.header__logo-wrap {
  margin-top: 90px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo-wrap {
    margin-top: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo-wrap {
    margin-top: 10px;
  }
}
.header__logo--img {
  border-radius: 50%;
  width: 200px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo--img {
    width: 130px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo--img {
    width: 100px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 48px 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0392156863), 0px 2px 4px rgba(0, 0, 0, 0.0784313725), 0px 1px 3px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0392156863), 0px 2px 4px rgba(0, 0, 0, 0.0784313725), 0px 1px 3px rgba(0, 0, 0, 0.1607843137);
  }
  .header__burger.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header__button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  color: #212121;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__button:hover, .header__button:focus {
  color: black;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-header {
    margin-left: auto;
  }
}
.contacts-header__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contacts-header__icon {
    display: none;
  }
}

.contacts-header__item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts-header__item:not(:last-child) {
    margin-top: 32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-header__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #166c65;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts-header__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .contacts-header__link:hover, .contacts-header__link:focus {
    color: #26c0b4;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header__link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header__link[href^=tel] {
    color: black;
    font-size: min(34px, 10vw);
    white-space: nowrap;
  }
}

.header__icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon[aria-expanded=false] {
  opacity: 1;
}
.header__icon[aria-expanded=false] + .header__icon {
  opacity: 0;
}
.header__icon[aria-expanded=true] {
  opacity: 0;
}
.header__icon[aria-expanded=true] + .header__icon {
  opacity: 1;
}

.nav {
  margin-left: 180px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.nav__item:not(:last-child) {
  margin-right: 150px;
}
@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #166c65;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #26c0b4;
}
.nav__link--current {
  color: #26c0b4;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -17px;
  display: block;
  width: 100%;
  height: 6px;
  background-color: #26c0b4;
  border-radius: 2px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__link--current::after {
    bottom: -10px;
    height: 4px;
  }
}

.social-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
@media screen and (min-width: 768px) {
  .social-burger {
    display: none;
  }
}
.social-burger__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.social-burger__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(..//..//image/HERO/7895078.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-rario: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(..//..//image/HERO/7895078.jpg);
  }
}
.hero__wrap {
  padding: 118px 60px 118px 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__wrap {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrap {
    padding: 350px 0;
  }
}
.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #166c65;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    max-width: 100%;
  }
}

.depertment {
  width: auto;
  margin-top: 30px;
}
.depertment__primerTitle {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: #166c65;
}
.depertment__title {
  text-align: center;
  margin-bottom: 15px;
  color: #154160;
}
.depertment__list {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .depertment__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.depertment__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.depertment__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .depertment__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .depertment__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
.depertment__photoCard {
  width: 100%;
}
.depertment__photoImg {
  width: 100%;
  display: block;
}
.depertment__desc {
  border: 1px solid #154160;
  padding: 12px;
  color: #166c65;
  background-color: #c3def2;
}

p {
  font-size: 18px;
  color: #2778b1;
}

span {
  font-weight: 700;
  margin-left: 5px;
  color: #154160;
}

@media screen and (max-width: 1199px) {
  .descktop {
    display: none;
  }
}

.work {
  padding-bottom: 94px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}
.work__item:not(:first-child) {
  margin-left: 30px;
}
.work__poster {
  position: relative;
}
.work__image {
  display: block;
}
.work__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  bottom: 7px;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */