// BASE
@import "./base/variables";
@import "./base/mixins";
@import "./base/common";
@import "./base/utils";
@import "./base/—Åontainer";

// LAYOUTS
@import "./layouts/header/header";
@import "./layouts/header/headerBurger";
@import "./layouts/header/headerButton";
@import "./layouts/header/headerContacts";
@import "./layouts/header/headerIcon";
@import "./layouts/header/headerNav";
@import "./layouts/header/headerSocial";

@import "./layouts/hero/hero";
@import "./layouts/departmens/departmens";
@import "./layouts/doctors/doctors";
// @import "./layouts/work/work";
@import "./layouts/team/team";
@import "./layouts/clients/client";
@import "./layouts/footer/footer";

@import "./layouts/footer/footer";
@import "./layouts/footer/footerAdress";
@import "./layouts/footer/footerForm";
@import "./layouts/footer/footerJoin";

// COMPONENTS
@import "./components/modal";

@import "./layouts/departmensNew/departmensNew.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
