.contacts-header {
  // display: flex;
  margin-left: auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }

  &__icon {
    width: 24px;
    height: 24px;
    @include mobileMax {
      display: none;
    }

    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts-header__item {
  // &:not(:last-child) {
  //   margin-right: 20px;
  // }
  padding: 8px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-top: 32px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts-header__link {
  @include font(34px, 500, 1.1, 0.02em);
  font-family: "Raleway", sans-serif;

  display: flex;
  align-items: center;
  text-decoration: none;
  color: #166c65;
  transition: color $duration $timing-function;

  @include tablet {
    @include font(12px, 500, 1.2, 0.02em);

    &:hover,
    &:focus {
      color: #26c0b4;
    }
  }
  @include desktop {
    @include font(24px, 500, 1.2, 0.02em);
  }
}

.contacts-header__link[href^="tel"] {
  @include mobileMax {
    color: black;
    font-size: min(34px, 10vw);
    white-space: nowrap;
  }
}
