.nav {
  margin-left: 180px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    margin-left: 70px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      height: 100%;
    }
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 150px;
  }
  @include mobileMax {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  @include font(34px, 500, 1.1, 0.02em);
  font-family: "Raleway", sans-serif;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit;
  transition: color $duration $timing-function;
  color: #166c65;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include font(20px, 500, 1.1, 0.02em);
  }

  &:hover,
  &:focus {
    color: #26c0b4;
  }

  &--current {
    color: #26c0b4;
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: -17px;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #26c0b4;
    border-radius: 2px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      bottom: -10px;
      height: 4px;
    }
  }
}
