.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 950px;
  }

  @include desktop {
    width: 2000px;
  }
}

.containerDepartmens {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 2500px;
}
