.wrapp {
  width: 100%;
  height: 100px;
  display: flex;
  height: fit-content;
}
.slide {
  height: 500px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  border-radius: 10px;
}
.slide.active {
  flex: 5;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.dep-title {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;

  color: #166c65;
}
