.hero {
  // background-color: $color-primary-background;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(..//..//image/HERO/7895078.jpg);

  @include retina {
    background-image: url(..//..//image/HERO/7895078.jpg);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    background-image: url(..//..//image/HERO/7895078.jpg);

    @include retina {
      background-image: url(..//..//image/HERO/7895078.jpg);
    }

    @include desktop {
      background-image: url(..//..//image/HERO/7895078.jpg);

      @include retina {
        background-image: url(..//..//image/HERO/7895078.jpg);
      }
    }
  }

  &__wrap {
    padding: 118px 60px 118px 60px;

    @include tablet {
      padding: 118px 204px;
    }

    @include desktop {
      padding: 350px 0;
    }
  }

  &__title {
    @include font(26px, 900, 1.6, 0.06em);

    margin: auto;
    align-items: center;
    color: #166c65;
    text-transform: uppercase;

    @include desktop {
      @include font(44px, 900, 1.4, 0.06em);

      max-width: 100%;
    }
  }

  &__button {
    @include font(16px, 700, 1.9, 0.06em);

    display: inline-block;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 24px;
    min-width: 216px;
    text-align: center;
    background-color: aliceblue;
    color: $color-white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    transition: $timing-function $duration;
    &:hover,
    &:focus {
      background: $color-accent-active;
    }

    @include tablet {
      padding: 10px 32px;
    }
  }
}
