.hero {
  // background-color: $color-primary-background;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(..//..//..//image/HERO/7895078.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__wrap {
    padding: 118px 60px 118px 60px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 118px 204px;
    }

    @media screen and (min-width: 1200px) {
      padding: 350px 0;
    }
  }

  &__title {
    @include font(26px, 900, 1.6, 0.06em);

    margin: auto;
    align-items: center;
    color: #166c65;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      @include font(44px, 900, 1.4, 0.06em);

      // max-width: 100%;
    }
  }
}
