.depertment {
  width: auto;
  margin-top: 30px;
  margin-bottom: 40px;

  &__primerTitle {
    text-align: center;
    @include font(44px, 900, 1.6, 0.06em);
    margin-bottom: 30px;
    color: #166c65;
  }

  &__title {
    text-align: center;
    margin-bottom: 15px;
    color: #154160;
  }

  &__list {
    list-style: none;
    padding: 0;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    @include font(16px, 500, 1.4, 0.02em);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 60px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 3);
      margin: 15px;
    }
  }
  // ////////////////////////////////////////////////////////////////////////
  &__photoCard {
    width: 100%;
  }

  &__photoImg {
    width: 100%;
    display: block;
  }
  // ///////////////////////////////////////////////////////////////////////
  &__desc {
    border: 1px solid #154160;
    padding: 12px;
    color: #166c65;
    background-color: #c3def2;
  }
}

p {
  font-size: 18px;
  color: #2778b1;
}

span {
  font-weight: 700;
  margin-left: 5px;
  color: #154160;
}
